body {
    background-color: #d2d2d2;
}

form {
    font-family: "Open Sans", sans-serif;
    color: #292727;
}

#login_box {
    text-align-last: center;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

.logo {
    width: 200px;
    border-radius: 10px;
}

#login {
    width: 270px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align-last: left;
}

#senha {
    width: 270px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align-last: left;
}

#submit {
    background-color: #1500fd;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    max-width: 800px;
    max-height: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}
/* Estilos para os botões de ação */
a {
    background-color: #1500fd;
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login_button {
    text-align: right;
    background-color: #292727;
    border-color: aqua;
    border-radius: 5px;
    border: #1500fd;
}